@mixin transitionLinear(){
    transition: all .3s linear;
}

@mixin logo () {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: $white;
    align-items: center;

    span {
        color: $main-color;
      }
}