@mixin transitionLinear() {
  transition: all 0.3s linear;
}

@mixin logo() {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: $white;
  align-items: center;

  span {
    color: $main-color;
  }
}

@mixin bgImage() {
  display: flex;
  background: url('../images/home-image.png') no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin formContainer() {
  margin: 0 auto;
  width: 240px;
  height: auto;
  box-shadow: $box-shadow;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}

@mixin inputForm {
  margin: 25px 0 25px 16px;
  padding: 10px 20px;
  width: 90%;
  font-size: 16px;
  color: $black;
  background-color: $light-color;

  &::placeholder {
    color: $black;
  }
}
