@import 'variables.scss';

*,
*::after,
*::before {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

// Navbar

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $second-color;
    z-index: 1000;

    .logo {
      display: flex;
      font-family: 'Raleway', sans-serif;
      font-size: 24px;
      font-weight: 800;
      color: $white;
      align-items: center;

      span {
        font-family: 'Raleway', sans-serif;
        color: $main-color;
      }

      img {
        margin-right: 8px;
      }
    }

    ul {
      position: absolute;
      display: block;
      top: -600%;
      left: 0;
      right: 0;
      background-color: $second-color;
      border-top: 1px solid $main-color;
      margin-top: 4.5rem;
      opacity: 0;
      transition: all 0.5s ease;

      &.active {
        top: 0;
        opacity: 1;
      }

      li {
        font-size: 1.5rem;
        margin: 1.5rem 2rem;
        border-left: 0.3rem solid $main-color;

        a {
          color: $white;
          font-weight: 500;
          margin-left: 10px;

          &.active {
            color: $main-color;
          }
        }
      }
    }

    #open-menu-btn,
    #close-menu-btn {
      display: none;
      cursor: pointer;
    }

    #open-menu-btn.active,
    #close-menu-btn.active {
      display: block;
    }
  }
}


































// Media

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  header {
    nav {
      padding: 2rem;

      ul {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 0;
        gap: 20px;
        border: none;
        opacity: 1;

        li {
          font-size: 16px;
          margin: 0;
          border: none;

          &::after {
            content: '';
            position: relative;
            display: block;
            width: 0%;
            height: 2px;
            left: 5px;
            transition: all 0.3s;
          }

          &:hover::after {
            width: 100%;
            background-color: $main-color;
          }
        }
      }

      #open-menu-btn.active {
        display: none;
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    nav {
      ul {
        gap: 30px;

        li {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    nav {
      ul {
        gap: 40px;
      }
    }
  }
}

@media (min-width: 1400px) {
}
