$main-color: #eb5760;
$main-color-hover: #ce333e;
$second-color: #091d44;
$light-green: #5BD660;
$light-green-hover: #44a347;
$dark-green: #20BD27;
$dark-green-hover: #1c9a22;
$light-red: #EB5760;
$light-red-hover: #b82832;
$dark-red: #b5000b;
$dark-red-hover: #e21522;
$orange: #ffa400;
$dark-orange: #ff850f;
$black: #000;
$black-hover: #2d2d2d;
$white: #fff;
$light-color: #f8f8f8;
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
